@charset "utf-8";

html {
  height: 100%;
  font-size: 16px;

  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
td,
th,
p {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  color: #aa9f98;
  line-height: 1.5;
}

body {
  background-color: #fafafa;
  margin: 0;
  position: relative;
}

ul,
li {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.875rem;
}

a {
  color: #f8ae00;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #d29300;
  text-decoration: none;
}

a img {
  border: none 0 #fff;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0 0 20px;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Utils */
.o-container {
  position: relative;
  padding: 0 20px;
}

/* Main Layout */
/* Header */
.c-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  min-height: 60px;
  background-color: #fff;
  text-align: center;
}

.c-header .c-header__brand {
  display: flex;
  align-items: center;

  margin: 0;
  padding: 10px;
}

.c-header .c-header__brand img {
  margin-right: 10px;
}

.c-header .c-header__brand a {
  color: #462816;
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
}

/* Header breadcrumb */
.c-breadcrumb {
  display: flex;
  flex: 1 0 100%;

  margin: 0;

  list-style: none;
  font-size: 1rem;
  padding: 15px 20px;
  background-color: #452816;
}

.c-breadcrumb li:first-child {
  margin-left: 20px;
}

/* Add a slash symbol (/) before/behind each list item */
.c-breadcrumb li + li:before {
  padding: 8px;
  color: #fff;
  content: "/\00a0";
}

.c-breadcrumb li a {
  color: #fff;
}

.c-breadcrumb li a:hover {
  opacity: 1;
}

/* Main */
.c-main {
  background-color: #fafafa;
  min-height: 100%;
}

/* Footer */
.c-footer {
  padding: 13px;
  max-height: 58px;
  margin-top: auto;

  background-color: #442816;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
}

.c-footer a {
  color: #fff;
}

/* ====================== Map ====================== */
.c-map {
  height: 400px;
  width: 100%;
  background-color: #fafafa;
}

@media screen and (max-width: 420px) {
  .c-map {
    height: 300px;
  }
}

/* ====================== Restaurant Filtering ====================== */
.c-filters {
  width: 100%;
  background-color: #452816;
}

.c-filters .c-filters__inner {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  min-height: 50px;
  width: 100%;
  padding: 5px 0;
}

.c-filters .c-filters__title {
  margin: 0;
  line-height: 1;

  color: #fff;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: normal;
}

.c-filters .c-filters__form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  margin-left: auto;
}

.c-filters select {
  height: 35px;
  padding: 0 10px;
  min-width: 200px;

  font-size: 0.875rem;
  background-color: #fff;
}

.c-filters select:not(:last-child) {
  margin-right: 10px;
}

@media screen and (max-width: 570px) {
  .c-filters .c-filters__inner {
    justify-content: center;
    padding: 10px 0;
  }

  .c-filters .c-filters__title {
    flex: 1 0 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  .c-filters .c-filters__form {
    margin-left: 0;
  }
}

@media screen and (max-width: 470px) {
  .c-filters .c-filters__form {
    justify-content: center;
  }

  .c-filters select {
   min-width: 100%;
  }

  .c-filters select:not(:last-child) {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

/* ====================== Restaurant Listing ====================== */
.c-restaurants {
  display: grid;
  list-style: outside none none;

  /* 320 (min device width) - 20 * 2 (container width) */
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
  padding: 0;
  margin-top: 20px;
}

.c-restaurants.c-restaurants--not-found {
  display: block;
}

.c-restaurant {
  background-color: #fff;
  border: 1px solid #ddd;
}

.c-restaurants .c-restaurants__not-found {
  margin-bottom: 10px;

  color: #452816;
  text-align: center;
  font-size: 1.125rem;
  font-weight: bold;
}

.c-restaurant .c-restaurant__content {
  padding: 15px;
}

.c-restaurant .c-restaurant__picture {
  display: block;
  margin: 0;
}

.c-restaurant .c-restaurant__address {
  min-height: 42px;
}

.c-restaurant h3 {
  margin: 0 0 10px;

  color: #f8ae00;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 1.3;
  font-weight: 400;
}

.c-restaurant p {
  margin: 0 0 10px;
  font-size: 0.875rem;
}

.c-restaurant a {
  display: inline-block;
  padding: 10px 0;
  width: 100%;

  background-color: #f8ae00;
  border-bottom: 1px solid #fff;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

/* ====================== Restaurant Details ====================== */
/* Layout */
.page.page--restaurant .c-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.page.page--restaurant .c-main {
  padding-top: 100px;
}

.page.page--restaurant .c-footer {
  position: absolute;
  bottom: 0;

  width: 50%;
}

/* Map */
.page.page--restaurant .c-main .c-main__map {
  background: #fafafa none repeat scroll 0 0;
  height: calc(100% - 100px);
  position: fixed;
  right: 0;
  top: 100px;
  width: 50%;
}

.page.page--restaurant .c-map {
  height: 100%;
  width: 100%;
}

/* Restaurant details */
.c-restaurant-container {
  width: 50%;
}

.c-restaurant-details h2 {
  color: #f8ae00;
  font-size: 28px;
  font-weight: 200;
  margin: 15px 0;
  text-transform: uppercase;
  text-align: center;
}

.c-restaurant-details .c-restaurant-details__picture {
  display: block;
  margin: 0;
}

.c-restaurant-details .c-restaurant-details__cuisine {
  margin: -7px 0 15px;
  padding: 2px 0;

  letter-spacing: 10px;
  background-color: #442816;
  color: #fff;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}

.c-restaurant-details .c-restaurant-details__address {
  font-size: 1.125rem;
  margin: 10px 0 15px;
  text-align: center;
}

.c-restaurant-details .c-restaurant-details__hours {
  width: 100%;
  border: 1px solid #452816;
  background-color: #fff;
}

.c-restaurant-details .c-restaurant-details__hours td:first-child {
  color: #452816;
}

.c-restaurant-details .c-restaurant-details__hours tr {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  border-bottom: 1px solid #ddd;
  padding: 10px;
}

.c-restaurant-details .c-restaurant-details__hours tr:last-child {
  border-bottom: none;
}

/* Reviews */
.c-reviews-container {
  width: 50%;
  margin: 20px 0 65px 0;
}

.c-reviews-container h3 {
  color: #f8ae00;
  text-align: center;
  font-size: 24px;
  font-weight: 200;
}

.c-reviews {
  margin: 0;
  padding: 0;
}

.c-reviews li {
  position: relative;
  display: block;
  margin: 0 0 20px;
  padding: 20px;

  border: 1px solid #ddd;
  background-color: #fff;
  list-style-type: none;
}

.c-reviews li p {
  margin: 0 0 10px;
}

/* Re-layout */
@media screen and (max-width: 768px) {

  /* Layout */
  .page.page--restaurant .c-main .c-main__map {
    position: relative;
    top: 0;

    display: block;
    height: 300px;
    width: 100%;
  }

  .page.page--restaurant .c-footer {
    position: relative;
    width: 100%;
    bottom: auto;
  }

  .c-restaurant-container {
    width: 100%;
  }

  .c-reviews-container {
    width: 100%;
    margin-bottom: 0;
  }
}

/* ====================== 404 Error ====================== */
.page.page--404 .c-main {
  text-align: center;
  margin-top: 20px;
  color: #452816;
}